OPENAI_API_KEY=
POSTGRES_URL=
REDIS_URL=
DRAMATIQ_BROKER_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_S3_BUCKET=
ENV=development
LOG_LEVEL=INFO
CORS_ALLOW_ORIGINS=http://localhost,http://localhost:3000/,https://localhost,https://localhost:3000/
